@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  overflow: auto;
}

* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

$color-1: #1aa2da;
$color-2: #ffcf56;

.container {
  padding: 50px calc(50% - 450px);

  @media (max-width: 1000px) {
    padding: 50px 15px;
  }

  @media (max-width: 500px) {
    padding: 50px 5px;
  }
}

.head {
  padding: 10px calc(50% - 450px);

  z-index: +100;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;

  background: white;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
    gap: 15px;
  }

  &__link {
    color: $color-1;

    position: relative;

    cursor: pointer;

    &-underline {
      content: ' ';

      position: absolute;
      top: calc(100% + 2px);
      left: 50%;

      transition: 100ms;

      width: 0%;
      height: 1px;
      background: $color-1;
    }

    &:hover &-underline {
      width: 100%;
      left: 0;
    }
  }

  &__btn {
    display: none;
    flex-flow: column;
    justify-content: space-between;

    width: 30px;
    height: 30px;

    span {
      width: 100%;
      height: 2px;
      background: $color-2;
    }
  }

  @media (max-width: 1000px) {
    padding: 10px 15px;
  }

  @media (max-width: 500px) {
    padding: 10px 5px;
  }

  @media (max-width: 600px) {
    &__btn {
      display: flex;
    }

    &__link {
      text-align: center;
      width: 100%;
      padding: 5px;

      &:last-child {
        padding-bottom: 10px;
      }

      &-underline {
        display: none !important;
      }
    }

    &__links {
      position: fixed;
      left: 0;
      top: 50px;

      height: 0;

      width: 100%;

      background: white;

      display: flex;
      flex-flow: column;
      transition: 150ms;

      padding: 0;
      overflow: hidden;

      &_open {
        height: 205px;
      } 
    }
  }
}

.profile {
  margin-top: 60px;
  padding: 0 50px;

  &__body {
    position: relative;
    height: 100%;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 290px;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center bottom;
    z-index: +1;
  }

  &__text {
    width: 100%;
    height: 100%;
    
    color: #131313;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 30px;

    font-size: large;
    line-height: 30px;
  }

  &__contacts {
    font-size: 16px;
    line-height: 22px;

    color: #131313 !important;

    a, a:visited {
      color: blue;
    }
  }

  &__small {
    font-size: 14px;
    line-height: 14px;
  }

  &__accent {
    color: $color-1;
    font-size: 30px;
    font-weight: 500;

    padding-bottom: 10px;
  }

  &__image {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    height: 100%;
    width: 100%;
  }

  &__triangle {
    width: 100%;
    height: 100%;
    background: $color-2;

    clip-path: polygon(100% 40%, 0% 100%, 100% 100%);

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  &__logos {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    max-width: 100%;
  }

  &__logo {
    height: 60px;
    width: 60px;

    object-fit: contain;
    object-position: center;
  }
  
  @media (max-width: 1500px) {
    padding: 30px;
  }

  @media (max-width: 800px) {
    margin-top: 50px;
    padding: 0px;

    height: auto;

    &__logos {
      justify-content: space-around;
      width: 100%;
    }

    &__image {
      max-width: 200px;
    }

    &__body {
      display: flex;
      flex-flow: column-reverse;
      gap: 10px;
      align-items: center;
      height: auto;
    }

    &__text {
      padding-top: 0;
      gap: 20px;

      text-align: center;
    }
  }
}

.skills {
  &__title {
    padding: 30px;
    font-weight: 600;
    text-align: center;
    color: #131313;
    font-size: larger;
  }

  &__col {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 10px;

    width: 500px;
    max-width: 100%;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column wrap;
    width: 100%;

    gap: 5px;
  }

  &__item {
    padding: 5px;
    border-radius: 3px;

    background: #f8ede7;
    color: #131313;
  }

  &__name {
    width: 500px;
    max-width: 100%;
    padding: 10px 5px 0;
    border-radius: 3px;

    background: #f8ede73e;
    color: $color-1;
  }
}

.projects {
  &__title {
    padding: 30px;
    font-weight: 600;
    text-align: center;
    color: #131313;
    font-size: larger;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    width: 100%;
  }

  &__card {
    width: 270px;
    height: 270px;
    padding: 15px;
    border: 1px solid $color-1;
    border-radius: 3px;

    cursor: pointer;

    transition: 150ms;

    transform: scale(0.95);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    gap: 10px;

    align-items: center;
    justify-content: center;


    &:hover {
      transform: scale(1);
    }

    img {
      width: 100%;
      height: 150px;
      object-fit: contain;
      object-position: center;

      border: 1px solid $color-2;
    }
  }

  &__name {
    font-size: large;
    font-weight: 500;

    text-align: center;
  }
}

.about {
  padding: 0 10px;

  &__title {
    padding: 30px;
    font-weight: 600;
    text-align: center;
    color: #131313;
    font-size: larger;
  }

  &__text {
    color: #131313;

    text-align: justify;
  }
}

.etc {
  padding: 0 calc(50% - 300px);

  @media (max-width: 700px) {
    padding: 0 15px;
  }

  &__title {
    padding: 30px;
    font-weight: 600;
    text-align: center;
    color: #131313;
    font-size: larger;
  }

  &__key {
    padding-top: 10px;
    color: #131313;
    font-size: small;
  }

  &__value {
    color: $color-1;
    font-size: large;
  }
}

.contacts {
  padding: 0 calc(50% - 300px);

  @media (max-width: 700px) {
    padding: 0 15px;
  }

  &__title {
    padding: 30px;
    font-weight: 600;
    text-align: center;
    color: #131313;
    font-size: larger;
  }

  &__key {
    padding-top: 10px;
    color: #131313;
    font-size: small;
  }

  &__value {
    color: $color-1;
    font-size: large;
  }
}
